body{
    margin: 0px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    /* position: fixed; */
    padding: 12px 144px;
    padding-right: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    right:0;
}

a{
    color: white;
    text-decoration:none ;
    font-weight: 600px;
    font-size: 16px;
}

.nav-links{
    display: flex;
    column-gap: 35px;
    align-items: center;

}

.nav-logo{
    width: 32px;
    height: 32px;
}
.cart-icon{
    width: 32px;
    height: 29px;
}


.right-nav-links{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.nav-cart{
    display: flex;
    color: white;
    align-items: center;
    column-gap: 35px;
}


h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0px ;
    margin-top: 0px;
    text-align: center;
    color: white;

}

h4{
    font-size: 20px;
    font-weight: 500px;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    
}

.hero-section-tagline{
    padding: 0 28%;
}

.cta-button{

    margin-top: 32px;
    font-size: 16px;
    font-weight: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 6px; 
    color: black;
    background-color: white;
    border:none;

}

.cta-button-div{
    text-align: center;
}

.hero-section{
    /* padding-top:256px;
    padding-bottom:256px;
    padding-left:400px;
    padding-right:400px; */

    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url("background.jpg");
    background-position: center;
    background-size: cover;

}

/* product display section */

.product-display-section{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

.product-display-section h2{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;

}

.product-display-card{
    
    height: 250px;
    background-color: gray;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content:center;
    align-items: end;
}

.product-display-grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:25px;
    /* justify-content: center; */
}

.card-one{
    color: black;
    background-image: url(newArrivals.webp);
    background-position: center;
    background-size: cover;
    
}

.productivity{

    color: black;
    background-image: url(product.webp);
    background-position: center;
    background-size: cover;

}

.workplace{
    background-image: url(workplace.jpeg);
    background-position: center;
    background-size: cover;

}

.access{
    
    background-image: url(acc.avif);
    background-position: center;
    background-size: cover;

}
.sales{

    background-image: url(sale.avif);
    background-position: center;
    background-size: cover;

}

/* .hero-section2{
    
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
} */

.hero-section2 {
    text-align: center;
    padding: 170px 100px;
    max-width: 900px;         /* Limit width like the screenshot */
    margin: 0 auto;           /* Center horizontally */
    background-color: white;  /* Optional: background to match screenshot */
    border-radius: 8px;       /* Optional: soft rounded corners */
    background-image: url(levelup.avif);
    background-position: center;
    color: white;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.hero-section2 p{
    font-size: 20px;
    font-weight: 500px;
    margin-top: 16px;
    text-align: center;
    color: black;
}

.hero-section2 h1 {
  font-size: 40px;  
  font-weight: 800;
  margin-bottom: 20px;
  color: black;
}

.hero-section2 p {
  font-size: 16px;  
  font-weight: bold;
  line-height: 1.5;
  color: black;
  
}


.lvlup-button{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 6px; 
    color: black;
    background-color: lightblue;
    border:none;
}

.product-collection-section {
  padding: 75px 150px;
  font-family: Arial, sans-serif;
  background-color: white;
}

.product-collection-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-collection-section p {
  font-size: 16px;
  color: #4169e1;
  margin-bottom: 40px;
  font-weight: bold;
}

.product-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-collection-card-one {
  
  height: 400px;
  width: 500px;
  background-color: white;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-align: left;
  background-image: url(handcraft.avif);
  background-position: center;
  background-size: cover;
  font-weight: bold;
}

.product-collection-card-one h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 15px 5px 15px;
}

.product-collection-card-one p {
  font-size: 14px;
  color: white;
  padding: 0 15px 15px 15px;
  
}


.product-collection-card-two{
  height: 400px;
  width: 500px;
  background-color: white;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-align: left;
  background-image: url(desk1.avif);
  background-position: center;
  background-size: cover;
}

.product-collection-card-two h3 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 15px 15px 5px 15px;
}

.product-collection-card-two p {
  font-size: 14px;
  color: white;
  padding: 0 15px 15px 15px;
  font-weight: bold;
}



.product-collection-card-three{

  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-align: left;
  background-image: url(penavif.avif);
  background-position: center;
  background-size: cover;
}

.product-collection-card-three h3 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 15px 15px 5px 15px;
}

.product-collection-card-three p {
  font-size: 14px;
  color: white;
  padding: 0 15px 15px 15px;
  font-weight: bold;
}
.product-collection-card-one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.product-collection-card-two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.product-collection-card-three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

/* FOOTER SECTION1 */

.footer-section1 {
    text-align: center;
    padding: 170px 100px;
    max-width: 900px;         
    margin: 0 auto;           
    background-color: white;  
    border-radius: 8px;       
    background-image: url(simplepro.avif);
    background-position: center;
    color: white;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-section1 h1 {
  font-size: 40px;  
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 55px;
  color: white;
}

.footer-section1 p {
  font-size: 16px;  
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

.shopfocus-button{

    margin-top: 15px;
    font-size: 17px;
    font-weight: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 6px; 
    color: black;
    background-color: white;
    border:none;
}


.main-footer {
  background-color: #0d1224;
  margin-top: 60px;
  color: white;
  padding: 60px 100px 20px 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px; 
}

/* FOOTER COLUMN 1 */
.footer-column1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-column1 h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.footer-column1 ul{

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column1 li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer-column1 li a:hover {
  color: rgb(123, 105, 105);
}
/* ******************************* */


/* FOOTER COLUMN 2 */

.footer-column2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-column2 h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.footer-column2 ul{

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column2 li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer-column2 li a:hover {
  color: rgb(123, 105, 105);
}
/* ******************************* */

/* footer column 3 */

.footer-column3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-column3 h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.footer-column3 ul{

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column3 li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer-column3 li a:hover {
  color: rgb(123, 105, 105);
}

/* ******************************** */

/* footer column 4 */
.footer-column4{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-column4 h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.footer-column4 ul{

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column4 li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer-column4 li a:hover {
  color: rgb(123, 105, 105);
}
/* ******************************************************* */



.footer-column5 h4{
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}


.footer-column5 p {
  font-size: 14px;
  margin-bottom: 12px;
  color: #ccc;
}

.footer-column5 form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-column5 input {
  padding: 8px;
  border: none;
  border-radius: 6px;
  flex: 1;
  min-width: 180px;
}

.footer-column5 button {
  padding: 8px 16px;
  background-color: #4f46e5;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #1e253f;
  font-size: 14px;
  color: #aaa;
}
